<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dreiecks Analyse</title>
</head>
<body>
<h1>Dreiecks Analyse</h1>
<p>Seite A: <span th:text="${seiteA}"></span></p>
<p>Seite B: <span th:text="${seiteB}"></span></p>
<p>Seite C: <span th:text="${seiteC}"></span></p>
<p>Flaeche: <span th:text="${flaeche}"></span></p>
<p>Umfang: <span th:text="${umfang}"></span></p>
<p>Winkel A: <span th:text="${winkelA}"></span></p>
<p>Winkel B: <span th:text="${winkelB}"></span></p>
<p>Winkel C: <span th:text="${winkelC}"></span></p>
</body>
</html>