<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dreiecksberechnung</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function erkennungDreieck() {
            var data = {
                seiteA: $("#seiteA").val(),
                seiteB: $("#seiteB").val(),
                seiteC: $("#seiteC").val()
            };
            $.ajax({
                type: "POST",
                url: "/determine",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(response) {
                    $("#triangleType").text(response);
                }
            });
        }
    </script>
</head>
<body>
<h1>Dreiecksberechnung</h1>
<form method="post" th:action="@{/analyze}" th:object="${dreieckForm}">
    <label>Seite A:</label>
    <input type="text" th:field="*{seiteA}" id="seiteA"/><br/>

    <label>Seite B:</label>
    <input type="text" th:field="*{seiteB}" id="seiteB"/><br/>

    <label>Seite C:</label>
    <input type="text" th:field="*{seiteC}" id="seiteC" oninput="erkennungDreieck()" /><br/>
    <br/>
    <button type="submit">Berechnen</button>
</form>
<br/>
<h2 id="triangleType"></h2>
</body>
</html>